<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/pages/reclamos']" routerLinkActive="tab-active">
      <ion-icon src="../../../assets/complaints.svg"></ion-icon>
      Reclamos
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/pages/home']" routerLinkActive="tab-active">
      <ion-icon src="../../../assets/icon-home.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/pages/encuestas']" routerLinkActive="tab-active">
      <ion-icon src="../../../assets/surveys.svg"></ion-icon>
      Encuestas
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>