<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/home']" routerLinkActive="tab-active">
      <ion-icon src="../../../assets/icon-home.svg"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/pages/salida/1']" routerLinkActive="tab-active">
      <ion-icon src="../../../assets/icon-ruta.svg"></ion-icon>
      Tu salida
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/pages/encuestas']" routerLinkActive="tab-active">
      <ion-icon src="../../../assets/icon-encuesta.svg"></ion-icon>
      Encuestas
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/pages/reclamos']" routerLinkActive="tab-active">
      <ion-icon src="../../../assets/icon-reclamo.svg"></ion-icon>
      Reclamos
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>