ion-content.background {
    --background: url("../../assets/ACONCAGUA 23_599 1.png")  -60px bottom/500px 200px no-repeat;
    top: 72px;

    h5 {
        font-size: 1.15rem;
        font-weight: 800;
        padding-bottom: 8px;
    }

    ion-img {
        width: 120px;
        height: 120px;
        margin: auto;
    }

    ion-row {
        padding: 8px 16px;
    }

    ion-radio {
        font-size: 0.8rem;
        font-weight: 600;
        --border-radius: 2px;
        --inner-border-radius: 2px;
        --color-checked: #1e3f70 !important;
        --color: #1e3f70 !important;
    }

    .idioma {
        justify-content: center;
        display: flex;

        ion-row {   
            width: max-content;
        }

        ion-img{
            width: 20px;
            height: 20px;
        }
    }

    ion-input {
        --highlight-color: #1e3f70;
        background: #F2F2F2;
    }
}