
<ion-content [fullscreen]="true" class="ion-padding" color="light" class="background">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-img (click)="cambiarIdioma()" src='{{selectedLanguage=="es" ? "../../../../assets/united-kingdom.png" : "../../../assets/flag.png"}}'></ion-img>
    </ion-buttons>
  </ion-toolbar>
  <ion-card-content>
    <!-- Ingresar mail -->
    <ng-container *ngIf="paso === 1">
      <ion-row><ion-col>
          <ion-img src="../../assets/Inka-04 1.png"></ion-img>
      </ion-col></ion-row>
      <ion-row><ion-col>
        <div color="primary-contrast">
          <ion-label>
            <h2>{{textos.titulo}}</h2>
            <p>{{textos.subtitulo}}</p>
          </ion-label>
          <ion-input [(ngModel)]="useremail" fill="outline" type="email" errorText="el mail es invalido" #emailinput></ion-input>
          <ion-note *ngIf="invalidMail == true" slot="error" color="danger" class="ion-hide">
            El mail no es valido
          </ion-note>
          <br>
          <ion-button size="default" expand="block" (click)="enviarEmail()"
            [disabled]="useremail == ''">{{textos.accion}}</ion-button>
          <br>
        </div>
      </ion-col></ion-row>
    </ng-container>

    <!-- Esperar por token-->
    <ng-container *ngIf="paso === 2">
      <ion-card color="primary-contrast">
        <ion-card-header>
          <h2>Se ha enviado un token</h2>
        </ion-card-header>
        <ion-card-content>
          <ion-input [(ngModel)]="token" fill="outline" type="number"></ion-input>
          <br>
        </ion-card-content>
        <ion-button size="default" expand="block" [disabled]="token == 0" (click)="vincularUsuario()"
          ngDefaultControl>{{textos.accion}}</ion-button>
        <br>
      </ion-card>
    </ng-container>

    <!-- Multiples usuarios-->
    <ng-container *ngIf="paso === 3">
      <ion-card color="primary-contrast">
        <ion-card-header>
          <h2>Estos usuarios estan asociados a su email, elija uno para continuar</h2>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-radio-group (ionChange)="usuarioSeleccionado($event)">
              <ion-item *ngFor="let usuario of usuarios">
                <ion-radio [value]="usuario.id_cliente" labelPlacement="end" color="primary"
                  justify="start">{{usuario.nombre}} {{usuario.apellido}}</ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <br>
        </ion-card-content>
      </ion-card>
    </ng-container>

  </ion-card-content>
</ion-content>