<ion-header [translucent]="true">
  <ion-toolbar class="{{clase}}">
      <ion-buttons slot="start" *ngIf="atras">
        <ion-icon name="chevron-back-outline" (click)="onBackClick()"></ion-icon>
      </ion-buttons>
    <ion-title>
      <ng-content></ng-content>
    </ion-title>
    <div class="header" slot="primary">
      <ion-img src="../../assets/Inka_sin_color.svg" [ngStyle]="{'fill':clase=='primario' ? '#FFFFFF' : '#000000', 'stroke':clase=='primario' ? '#FFFFFF' : '#000000'}"></ion-img>
    </div>  
  </ion-toolbar>
</ion-header>