<div class="ion-page">
  <inka-header clase="primario" (backClicked)="irA('pages/home')">Encuestas</inka-header>
  <ion-content [fullscreen]="true">
    <h5>Sus respuestas nos ayudan a blabla</h5>
    <ion-list *ngFor="let encuesta of encuestas" lines="none">
      <ion-item class="encuesta" (click)="irA('pages/encuesta/' + encuesta.id)">
        <ion-label>
          {{encuesta.titulo}}
          <br>
          <ion-note>Creada el {{encuesta.fechaCreada}}</ion-note>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="encuesta" (click)="irA('pages/encuesta/' + encuesta.id)">
        <ion-label>
          {{encuesta.titulo}}
          <br>
          <ion-note>Creada el {{encuesta.fechaCreada}}</ion-note>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="encuesta disabled">
        <ion-label>
          Servicios de Mendoza
          <br>
          <ion-note>Respondida el 20/07/2024</ion-note>
        </ion-label>
        <ion-icon slot="end" name="checkmark-sharp"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</div>