ion-content.background {
  --background: url("../../../assets/ACONCAGUA 23_599 1.png")  -60px 50px/500px 200px no-repeat;
}

ion-icon {
  height: 32px;
}

.home-button {
  font-size: 12px;
  color: var(--ion-color-secondary);
}

ion-title.title {
  font-size: 0.9rem !important;
}

.content {
  position: absolute;
  top: 140px;
}