<div class="ion-page">
  <inka-header clase="secundario" atras="pages/reclamos">
    Complaint
  </inka-header>
  
  <ion-content [fullscreen]="true">
    <ion-list lines="none">
      <ion-list-header>
        Add your complain
      </ion-list-header>
      <ion-item-sliding>
        <ion-accordion-group #accordionGroup (ionChange)="changeAcordeon($event)">
          <ion-accordion value="servicios">
            <ion-item slot="header">By service</ion-item>
            <div class="ion-padding" slot="content">
              <ion-item id="select-servicio">
                <ion-select justify="start" interface="popover"
                  placeholder="select"
                  [(ngModel)]="reclamo.categoriaId" (ionChange)="fillUbicaciones(reclamo.categoriaId)">
                  <div slot="label">Service <ion-text color="danger">*</ion-text>
                  </div>
                  <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{categoria.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item id="select-ubicacion" *ngIf="ubicaciones.length > 1">
                <ion-select justify="start" interface="popover"
                  placeholder="select"
                  [(ngModel)]="reclamo.ubicacionId">
                  <div slot="label">Location <ion-text color="danger">*</ion-text>
                  </div>
                  <ion-select-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id">
                    {{ubicacion.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-accordion>
          <ion-accordion value="guias">
            <ion-item slot="header">By guide</ion-item>
            <div class="ion-padding" slot="content">
              <ion-item id="select-guia">
                <ion-select justify="start" interface="popover"
                  placeholder="select" [(ngModel)]="reclamo.guiaId">
                  <div slot="label">guias <ion-text color="danger">*</ion-text>
                  </div>
                  <ion-select-option *ngFor="let guia of guias" [value]="guia.id">
                    {{guia.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-item>
          <ion-textarea [(ngModel)]="reclamo.texto" fill="outline" placeholder="texto">
          </ion-textarea>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
    <ion-list lines="none">
      <ion-item>
        <ion-button (click)="takePicture(foto)">Foto</ion-button>
        <ion-button (click)="enviarReclamo()" expand="block" size="default" slot="end">Send</ion-button>
      </ion-item>
      <ion-item>
        <ion-img #foto></ion-img>
      </ion-item>
    </ion-list>
  </ion-content>
</div>