/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
/* @import "@ionic/angular/css/palettes/dark.system.css"; */
ion-toolbar {
    ion-title {
        font-size: 0.9rem;
    }

    div.header{
        padding-right: 10px;
        
        ion-img {
          width: 64px;
          height: 64px;
        }
    } 
    
    &.secundario {
        --background: var(--ion-background-color-step-50) !important;
        --color: var(--ion-text-color-step-50);

        div.header{            
            ion-img {
              filter: invert(58%) sepia(58%) saturate(1936%) hue-rotate(320deg) brightness(100%) contrast(87%);
              fill: #ED7167;
            }
        } 
    
    }

    &.primario {
        --background: var(--ion-color-primary) !important;
        --color: var(--ion-color-primary-contrast);

        div.header{            
            ion-img {
                //filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(66deg) brightness(105%) contrast(98%);
                fill: var(--ion-color-primary-contrast);
            }
        } 
    
    }
}

.tab-active {
    color: var(--ion-color-primary);
    ion-icon {
        filter: invert(13%) sepia(97%) saturate(4126%) hue-rotate(357deg) brightness(78%) contrast(118%);
    }
}

ion-tab-button {
    color: var(--ion-color-dark);
    margin-top: 10px;
    
    ion-icon {
        width: 24px;
        height: 24px;
        filter: invert(18%) sepia(1%) saturate(253%) hue-rotate(342deg) brightness(91%) contrast(94%);
        padding-bottom: 5px;
    }
}

ion-tab-bar {
    height: 60px;
    background-color: var(--ion-background-color-step-100);

    ion-tab-button {
        background-color: var(--ion-background-color-step-100);
        font-size: 0.5rem;
    }
}

.unread-indicator {
    background: var(--ion-color-primary);
  
    width: 8px;
    height: 8px;
  
    border-radius: 100%;
  
    position: absolute;
  
    inset-inline-start: 12px;
    top: 12px;
  }